:root {
    --primary:  #79a7d3;
    --secondary:  #8a307f;
    --tertiary: #6883bc;
    --bootstrap: #0275d8;
    --dark: #201110;
    --border-radius: .3rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 24px;
}

main {
    margin: 20px auto;
    width: 95%;
}

h1, h2, h3, h5, h6 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
}

.link-color {
    color: var(--tertiary);
    padding: 10px;
    margin: 10px
}

.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 15%;
    margin: 5px 0;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--bootstrap);
}

.btn:hover {
    color: var(--dark);
    background-color: var(--secondary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}

.hero {
    padding: 2%;
    background-color: var(--secondary);
    color: var(--primary);
}

.app-title {
    background-color: var(--primary);
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px;
}
