:root {
    --primary:  #e7e8d1;
    --secondary: #b85042;
    --tertiary: #a7beae;
    --white: #f7f7f7;
    --dark: black;
    --border-radius: .3rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 24px;
}

main {
    margin: 20px auto;
    width: 95%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.25;
}

.link {
    text-decoration: none;
    color: var(--tertiary);
    padding: 10px;
    margin: 10px
}

.link:hover {
    text-decoration: underline;
}

.btn{
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 15%;
    margin: 5px 0;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--tertiary);
}

.btn:hover {
    color: var(--dark);
    background-color: var(--secondary);
    transform: translate(0, 0);
    box-shadow: 2px 2px;
}

.hero {
    padding: 2%;
    background-color: var(--secondary);
}

.nav {
    padding-bottom: 10px;
    line-height: 1.25;
}

.app-title {
    background-color: var(--primary);
    padding: 0 10px;
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px;
}

.card {
    margin-bottom: 20px;
    border: 2px solid var(--secondary);
    border-radius: var(--border-radius);
}

.card-header {
    color: var(--tertiary);
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
}

.card-body {
    padding: 1%;
}

#comment-form {
    display: grid;
}

.form-input, .form-control {
    font-size: 1.5rem;
    border-radius: var(--border-radius);
}

#nopost {
    display: flex;
    justify-content: center;

}

.container {
    display: flex;
    justify-content: space-evenly;
}

#newlink {
    text-decoration: none;
    color: black;
}

#edit-post-form, #new-post-form {
    display: grid;
}